@font-face{
    font-family:'Candyhome' ;  /* 字体名自定义即可 */
    src:url('source/fonts/soujin.ttf') format("truetype"); /* 字体文件路径 */
    font-display : swap;
}

body {
    font-family: 'Candyhome', sans-serif;
}